/* 
    Created on : Jan 6, 2014, 11:30:38 PM
    Author     : Masud Afsar <masud.afsar@live.com>
*/


.randbg {
background: url('../images/1.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.randbg.bg1 {
background-image: url('../images/1.jpg');
}
.randbg.bg2 {
background-image: url('../images/2.jpg');
}
.randbg.bg3 {
background-image: url('../images/3.jpg');
}
.randbg.bg4 {
background-image: url('../images/4.jpg');
}
.randbg.bg5 {
background-image: url('../images/5.jpg');
}
.randbg.bg6 {
background-image: url('../images/6.jpg');
}
.randbg.bg7 {
background-image: url('../images/7.jpg');
}
.randbg.bg8 {
background-image: url('../images/8.jpg');
}
.randbg.bg9 {
background-image: url('../images/9.jpg');
}
.randbg.bg0 {
background-image: url('../images/0.jpg');
}
