.search-block {
    position: relative;
    width: 40%;
    margin: 30px auto 0;
    text-align: -moz-center;
    text-align: center;
    height: 70px;
}

@media screen and (max-width: 1000px) {
    .search-block {
        width: 60%;
        margin: 24px auto 0;
        height: 60px;
    }
}

.search-block label {
    position: absolute;
    color: #888888;
    top: 7px;
    left: -20px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-block input {
    width: 100%;
    margin: 0 auto;
}

.search-block ul.search-help {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    width: 483px;
}

@media screen and (max-width: 1000px) {
    .search-block ul.search-help {
        max-height: 100px;
    }
}

.search-block ul.search-help li {
    display: inline-block;
    padding: 25px;
    list-style: none;
    cursor: pointer;
}

.search-block ul.search-help li>span {
    position: relative;
    color: white;
    font-size: 20px;
}

.search-block ul.search-help li>span .icon {
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-block ul.search-help li>span .command {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-block ul.search-help li:hover .icon {
    opacity: 0.2;
}

.search-block ul.search-help li:hover .command {
    opacity: 1;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.blocks .block {
    flex: 1;
    margin: 2px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #222222;
    min-width: 160px;
    text-shadow: 0px 0px 5px #000;
}

.blocks .block li {
    list-style: none;
}

.blocks .block .header {
    color: #95EDFD;
}

.blocks .block a {
    text-decoration: none;
    cursor: pointer;
}

.blocks .block a:visited,
.blocks .block a:focus,
.blocks .block a:link {
    color: white;
}

.blocks .block a:hover {
    color: #FF92D1;
}

@media screen and (max-width: 1000px) {
    .blocks {
        width: 80%;
    }
}

   li.header.icon {
            background: url(http://www.pwnhost.com/images/listicon.png) no-repeat;
            display: block;
            padding: 10px 0 10px 45px;
            text-decoration: none;
            color: #4d71b2;
            background-size: contain;
        }
        
        li.header.ppg {
            background-image: url(images/ThePPG.png);
        }
        
        .grid1 {
            overflow: auto;
            display: block;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }
        
        .grid1>div {
            margin: 5px;
            width: 100px;
            height: 100px;
            background: blue;
            float: left;
            color: #fff;
            text-align: center;
        }

.randbg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.randbg.bg0 {
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-position: unset;
    background-image: url('images/background/ppgtiles.jpg');
}
.randbg.bg1{background-image:url('images/background/powerpuffgirls.001.jpg')}
.randbg.bg2{background-image:url('images/background/powerpuffgirls.002.jpg')}
.randbg.bg3{background-image:url('images/background/powerpuffgirls.003.jpg')}
.randbg.bg4{background-image:url('images/background/powerpuffgirls.004.jpg')}
.randbg.bg5{background-image:url('images/background/powerpuffgirls.005.jpg')}
.randbg.bg6{background-image:url('images/background/powerpuffgirls.006.jpg')}
.randbg.bg7{background-image:url('images/background/powerpuffgirls.007.jpg')}
.randbg.bg8{background-image:url('images/background/powerpuffgirls.008.jpg')}
.randbg.bg9{background-image:url('images/background/powerpuffgirls.009.jpg')}
.randbg.bg10{background-image:url('images/background/powerpuffgirls.010.jpg')}
.randbg.bg11{background-image:url('images/background/ppg01.png')}
.randbg.bg12{background-image:url('images/background/ppg02.png')}
.randbg.bg13{background-image:url('images/background/ppg03.png')}
.randbg.bg14{background-image:url('images/background/ppg04.jpg')}
.randbg.bg15{background-image:url('images/background/ppg05.jpg')}
.randbg.bg16{background-image:url('images/background/ppg06.jpg')}
.randbg.bg17{background-image:url('images/background/ppg07.jpg')}
.randbg.bg18{background-image:url('images/background/ppg08.jpg')}
.randbg.bg19{background-image:url('images/background/ppg09.jpg')}
.randbg.bg20{background-image:url('images/background/ppg10.jpg')}
.randbg.bg21{background-image:url('images/background/ppg11.jpg')}
.randbg.bg22{background-image:url('images/background/ppg12.jpg')}
.randbg.bg23{background-image:url('images/background/ppg13.jpg')}
.randbg.bg24{background-image:url('images/background/ppg14.jpg')}
.randbg.bg25{background-image:url('images/background/ppg15.png')}
.randbg.bg26{background-image:url('images/background/ppg16.jpg')}
.randbg.bg27{background-image:url('images/background/ppg17.jpg')}
.randbg.bg28{background-image:url('images/background/ppg18.jpg')}
.randbg.bg29{background-image:url('images/background/ppg19.jpg')}
.randbg.bg30{background-image:url('images/background/ppg20.jpg')}
